{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {# Google fonts #}
  <link
      rel="preconnect"
      href="https://fonts.googleapis.com">
  <link
      rel="preconnect"
      href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Outfit:wght@500;600;700&display=swap"
      rel="stylesheet">
  {# Bootstrap CSS #}
  <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
  {# Base CSS #}
  <link rel="stylesheet" href="{% static "product/base.css" %}">
  {# Other CSS #}
  {% block css %}{% endblock %}
</head>
<body>
{# Navbar #}
<header class="navbar navbar-expand-lg sticky-top">
  <nav class="container-fluid">
    <a class="navbar-brand px-1" href="{% url 'home' %}">Voted</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
      Menü
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav me-auto">
        <li class="nav-item px-1">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="{% url 'vote_create_choice' %}">Neue Abstimmung</a>
        </li>
      </ul>
      <form class="d-flex nav-form me-auto">
        <input class="form-control nav-input px-0 me-2" type="tel" minlength="5" maxlength="5"
               placeholder="Code eingeben...">
        <button class="btn nav-btn px-4" type="submit">Los</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item px-1">
          <a class="nav-link" href="{% url 'log' %}">Meine Abstimmungen</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
{# Main content #}
{% block body %}{% endblock %}
{# jQuery #}
<script src="{% static "jquery/jquery-3.7.1.min.js" %}"></script>
{# Bootstrap #}
<script src="{% static "bootstrap/bootstrap.bundle.min.js" %}"></script>
{# Other scripts #}
{% block scripts %}{% endblock %}
</body>
</html>
