{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {# Google fonts #}
  <link
      rel="preconnect"
      href="https://fonts.googleapis.com">
  <link
      rel="preconnect"
      href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Outfit:wght@500;600;700&display=swap"
      rel="stylesheet">
  {# jQueryUI CSS #}
  <link rel="stylesheet" href="{% static "jqueryui/jquery-ui.min.css" %}">
  {# Bootstrap CSS #}
  <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
  {# Base CSS #}
  <link rel="stylesheet" href="{% static "product/base.css" %}">
  {# Other CSS #}
  {% block css %}{% endblock %}
</head>
<body>
{# Navbar #}
<header class="navbar navbar-expand-lg sticky-top">
  <nav class="container-fluid">
    <a class="navbar-brand px-1" href="{% url 'home' %}">Voted</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
      Menü
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav me-auto">
        <li class="nav-item px-1">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" href="{% url 'vote_create_choice' %}">Neue Abstimmung</a>
        </li>
      </ul>
      <form action="{% url 'home' %}" method="POST" class="d-flex nav-form me-auto">
        {% csrf_token %}
        <label class="d-none" for="code"></label>
        <input class="form-control nav-input px-0 me-2" id="code" name="code" type="tel" minlength="5" maxlength="5"
               required
               placeholder="Code eingeben...">
        <button class="btn nav-btn px-4" type="submit">Los</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item px-1">
          <a class="nav-link" href="{% url 'log' %}">Meine Abstimmungen</a>
        </li>
        <li class="nav-item px-1">
          {% if is_authenticated %}
            <a href="{% url 'profile' %}" class="nav-link">Mein Profil</a>
          {% else %}
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
</header>
{# Main content #}
{% block body %}{% endblock %}
{# jQuery #}
<script src="{% static "jquery/jquery-3.7.1.min.js" %}"></script>
{# jQueryUI #}
<script src="{% static "jqueryui/jquery-ui.min.js" %}"></script>
{# Bootstrap #}
<script src="{% static "bootstrap/bootstrap.bundle.min.js" %}"></script>
{# Other scripts #}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function () {
    // Aktiviere die Popover
    $('[data-toggle="popover"]').popover({
      trigger: 'focus' // Schließt das Popover, wenn der Fokus verloren geht
    });

    // Verhindere, dass ein Klick auf das Popover den Fokus verliert (damit es nicht sofort schließt)
    $(document).on('click', '.popover', function () {
      $(this).closest('.input-group').find('button').popover('toggle');
    });
  });
</script>
{% block scripts %}{% endblock %}
</body>
</html>
