{% extends "base.html" %}
{% load static %}
{% load product_extras %}

{% block css %}
  <link rel="stylesheet" href="{% static "product/home.css" %}">
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <div class="new-voting-section">
      <h1>Neue Abstimmung erstellen:</h1>
      <div class="row mt-4">
        <div class="col-6 col-lg-3">
          <a href="{% url "vote_create_choice" %}" class="poll-window-link">
            <div class="poll-window poll-window-new choice">
              <h3 class="mb-0">Umfrage</h3>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="{% url "vote_create_date" %}" class="poll-window-link">
            <div class="poll-window poll-window-new date">
              <h3 class="mb-0">Termin</h3>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="{% url "vote_create_tierlist" %}" class="poll-window-link">
            <div class="poll-window poll-window-new tierlist">
              <h3 class="mb-0">Tierlist</h3>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <div href="{% url "vote_create_ranking" %}" class="poll-window-link">
            <div class="poll-window poll-window-new ranking">
              <h3 class="mb-0">Coming soon...</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="log">
      <h1 class="mt-5 mb-3">Zuletzt angesehen:</h1>
      {% if polls %}
        <div class="row">
          {% for poll in polls %}
            <div class="col-12 col-lg-3 mt-2">
              <a href="{% url "vote_code" poll.code %}" class="poll-window-link">
                <div class="poll-window d-flex flex-column
                      {% if poll.poll_type == "POLL" %}choice{% endif %}
                      {% if poll.poll_type == "DATE" %}date{% endif %}
                      {% if poll.poll_type == "TIER" %}tierlist{% endif %}
                      {% if poll.poll_type == "RANK" %}ranking{% endif %}
                ">
                  <h3 class="overflow-hidden">{{ poll.title|truncatechars:15 }}</h3>
                  <p class="overflow-hidden word-wrap mb-0">{{ poll.description|truncatechars:90 }}</p>
                  {#                  {% if poll.timestamp_end %}#}
                  <p class="mt-auto mb-0">{{ poll.timestamp_end|time_status }}</p>
                  {#                  {% endif %}#}
                  {% if poll.owner == user %}
                    <svg class="icon-1" width="38" height="36" viewBox="0 0 38 36" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M31.6666 31.5C31.6666 29.4067 31.6666 28.36 31.3939 27.5083C30.7799 25.5907 29.1959 24.0901 27.1717 23.5084C26.2727 23.25 25.1679 23.25 22.9582 23.25H15.0416C12.8319 23.25 11.7271 23.25 10.8281 23.5084C8.80397 24.0901 7.21998 25.5907 6.60596 27.5083C6.33325 28.36 6.33325 29.4067 6.33325 31.5M26.1249 11.25C26.1249 14.9779 22.9349 18 18.9999 18C15.0649 18 11.8749 14.9779 11.8749 11.25C11.8749 7.52208 15.0649 4.5 18.9999 4.5C22.9349 4.5 26.1249 7.52208 26.1249 11.25Z"
                          stroke="#220A35" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h2 class="my-5">Huch, noch so leer...</h2>
      {% endif %}
    </div>
  </div>
{% endblock %}
