{% extends "profile.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "product/buttons.css" %}">
  <link rel="stylesheet" href="{% static "product/forms.css" %}">
  <link rel="stylesheet" href="{% static "product/profile.css" %}">
{% endblock %}
{% block col_right %}
  <div class="col-6 d-flex flex-column align-items-center">
    <h1>Profil bearbeiten:</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="row">

        <div class="col-12 mt-4">
          {{ form.username.errors }}
          <div class="input-group input-group-lg">
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>
        </div>

        <div class="col-12 mt-4">
          {{ form.email.errors }}
          <div class="input-group input-group-lg">
            {{ form.email.label_tag }}
            {{ form.email }}
          </div>
        </div>

        <div class="col-12 mt-4">
          {{ form.password1.errors }}
          <div class="input-group input-group-lg">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
          </div>
        </div>

        <div class="col-12 mt-4">
          {{ form.password2.errors }}
          <div class="input-group input-group-lg">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
          </div>
        </div>

      </div>

      <div class="row justify-content-center mt-4">
        <button class="btn btn-large btn-submit px-5 py-2" type="submit">Fertig</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static "product/forms.js" %}"></script>
{% endblock %}
