{% extends "vote_create.html" %}
{% block extra_options %}
  <div class="row justify-content-between mt-4">

    <div class="col-auto">
      {{ form.multiple_choice_allowed.errors }}
      <div class="input-group input-group-lg">
        {{ form.multiple_choice_allowed.label_tag }}
        <div class="input-group-text input-group-text-checkbox">
          {{ form.multiple_choice_allowed }}
        </div>
      </div>
    </div>

    <div class="col-auto">
      {{ form.custom_answers_allowed.errors }}
      <div class="input-group input-group-lg">
        {{ form.custom_answers_allowed.label_tag }}
        <div class="input-group-text input-group-text-checkbox">
          {{ form.custom_answers_allowed }}
        </div>
      </div>
    </div>

    <div class="col-auto">
      {{ form.show_result.errors }}
      <div class="input-group input-group-lg">
        {{ form.show_result.label_tag }}
        <div class="input-group-text input-group-text-checkbox">
          {{ form.show_result }}
        </div>
      </div>
    </div>

    <div class="col-auto">
      {{ form.logged_in_only.errors }}
      <div class="input-group input-group-lg">
        {{ form.logged_in_only.label_tag }}
        <div class="input-group-text input-group-text-checkbox">
          {{ form.logged_in_only }}
        </div>
      </div>
    </div>

  </div>
{% endblock %}