{% extends "base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static "product/home.css" %}">
  <link rel="stylesheet" href="{% static "product/forms.css" %}">
  <link rel="stylesheet" href="{% static "product/vote_create.css" %}">
{% endblock %}
{% block body %}
  <div class="container my-5">
    <div class="new-voting-section">
      <h1>Neue Abstimmung erstellen:</h1>

      <div class="row mt-4">
        <div class="col-6 col-lg-3">
          <a href="{% url "vote_create_choice" %}" class="poll-window-link">
            <div
                class="poll-window poll-window-new choice {% if poll_type == "POLL" %}poll-window-selected{% endif %}">
              <h3 class="mb-0">Umfrage</h3>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="{% url "vote_create_date" %}" class="poll-window-link">
            <div
                class="poll-window poll-window-new date {% if poll_type == "DATE" %}poll-window-selected{% endif %}">
              <h3 class="mb-0">Termin</h3>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="{% url "vote_create_tierlist" %}" class="poll-window-link">
            <div
                class="poll-window poll-window-new tierlist {% if poll_type == "TIER" %}poll-window-selected{% endif %}">
              <h3 class="mb-0">Tierlist</h3>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <div href="{% url "vote_create_ranking" %}" class="poll-window-link">
            <div
                class="poll-window poll-window-new ranking {% if poll_type == "RANK" %}poll-window-selected{% endif %}">
              <h3 class="mb-0">Coming soon...</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form enctype="multipart/form-data" class="mt-4" method="POST">
      {% csrf_token %}

      <select class="d-none" name="{{ form.poll_type.name }}" id="id_{{ form.poll_type.name }}">
        <option value="POLL" {% if poll_type == "POLL" %}selected{% endif %}>Umfrage</option>
        <option value="DATE" {% if poll_type == "DATE" %}selected{% endif %}>Terminabstimmung</option>
        <option value="TIER" {% if poll_type == "TIER" %}selected{% endif %}>Tierlist</option>
        <option value="RANK" {% if poll_type == "RANK" %}selected{% endif %}>Rangliste</option>
      </select>

        <div class="col-12 text-center mt-4">
        <div class="alert alert-info">
          {% if poll_type == "POLL" %}
            Erstellen einer Umfrage: Ermöglicht es den Teilnehmern, aus einer Liste von Optionen zu wählen, um ihre Meinungen oder Präferenzen zu einer bestimmten Frage oder Thematik auszudrücken.
          {% elif poll_type == "DATE" %}
            Erstellen einer Terminabstimmung: Gestattet den Teilnehmern, sich auf einen gemeinsamen Termin zu einigen, indem sie aus verschiedenen vorgeschlagenen Zeitpunkten wählen. (Tag, Uhrzeit oder Tag & Uhrzeit.
          {% elif poll_type == "TIER" %}
            Erstellen einer Tierlist: Erlaubt es den Teilnehmern, Elemente in einer Hierarchie oder Reihenfolge zu platzieren, um eine rangierte Liste basierend auf persönlichen Präferenzen zu erstellen. Jedes Tier kann mehrmals belegt werden. S-Tier = gut -> F-Tier = schlecht.
          {% elif poll_type == "RANK" %}
            Erstellen einer Rangliste: Bietet den Teilnehmern die Möglichkeit, Elemente nach ihrer Präferenz zu ordnen, wodurch eine Rangfolge entsteht, die die individuellen Vorlieben für verschiedene Optionen zeigt.
          {% endif %}
        </div>
      </div>

      <h2 class="mt-4">Einstellungen:</h2>

      <div class="row justify-content-between mt-4">
        <div class="col-12">
          {{ form.title.errors }}
          <div class="input-group input-group-lg">
            {{ form.title.label_tag }}
            {{ form.title }}
          </div>
        </div>
      </div>

      <div class="row justify-content-start mt-4">
        <div class="col-12 col-lg-3">
          {{ form.days.errors }}
          <div class="input-group input-group-lg">
            {{ form.days.label_tag }}
            {{ form.days }}
              <button class="btn btn-secondary help" type="button" data-toggle="popover" title="Hier kannst du die Anzahl der Tage für die Abstimmung einstellen." data-content="Hier kannst du die Anzahl der Tage für die Abstimmung einstellen.">?</button>

          </div>
        </div>
        <div class="col-12 col-lg-3 mt-4 mt-lg-0">
          {{ form.hours.errors }}
          <div class="input-group input-group-lg">
            {{ form.hours.label_tag }}
            {{ form.hours }}
              <button class="btn btn-secondary help" type="button" data-toggle="popover" title="Hier kannst du die Anzahl der Stunden für die Abstimmung einstellen." data-content="Hier kannst du die Anzahl der Stunden für die Abstimmung einstellen.">?</button>

          </div>
        </div>
        <div class="col-12 col-lg-3 mt-4 mt-lg-0">
          {{ form.minutes.errors }}
          <div class="input-group input-group-lg">
            {{ form.minutes.label_tag }}
            {{ form.minutes }}
              <button class="btn btn-secondary help" type="button" data-toggle="popover" title="Hier kannst du die Anzahl der Minuten für die Abstimmung einstellen." data-content="Hier kannst du die Anzahl der Minuten für die Abstimmung einstellen.">?</button>
          </div>
        </div>

{#        <div class="col-1"></div>#}
{#        <div class="col-5">#}
{#          {{ form.password.errors }}#}
{#          <div class="input-group input-group-lg">#}
{#            {{ form.password.label_tag }}#}
{#            {{ form.password }}#}
{#          </div>#}
{#        </div>#}

      </div>

      <div class="row mt-4">
        <div class="col-12">
          {{ form.description.errors }}
          <div class="input-group input-group-lg">
            {{ form.description.label_tag }}
            {{ form.description }}
          </div>
        </div>
      </div>

      {% block extra_options %}{% endblock %}

      <h2 class="mt-4">Antwortmöglichkeiten:</h2>

      {% block voting_options %}{% endblock %}

      <div class="row justify-content-center mt-4">
        <button class="btn btn-large btn-submit px-5 py-2" type="submit">Erstellen</button>
      </div>

    </form>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static "product/forms.js" %}"></script>
  <script src="{% static "product/vote_create.js" %}"></script>
{% endblock %}
