{% extends "vote_create.html" %}
{% block extra_options %}
  <div class="row justify-content-between mt-4">

    <div class="col-auto">
      {{ form.criteria_good.errors }}
      <div class="input-group input-group-lg">
        {{ form.criteria_good.label_tag }}
        {{ form.criteria_good }}
        {{ form.criteria_bad.label_tag }}
        {{ form.criteria_bad }}
      </div>
    </div>

    <div class="col-auto">
      {{ form.show_result.errors }}
      <div class="input-group input-group-lg">
        {{ form.show_result.label_tag }}
        <div class="input-group-text input-group-text-checkbox">
          {{ form.show_result }}
        </div>
          <button class="btn btn-secondary px-3 help" type="button" data-toggle="popover" title="Wähle aus, ob Teilnehmer das Ergebnis nach Einreichen der Antwort direkt die Ergebnisse sehen können." data-content="Wähle aus, ob Teilnehmer das Ergebnis nach Einreichen der Antwort direkt die Ergebnisse sehen können.">?</button>
      </div>
    </div>

{#    <div class="col-auto">#}
{#      {{ form.logged_in_only.errors }}#}
{#      <div class="input-group input-group-lg">#}
{#        {{ form.logged_in_only.label_tag }}#}
{#        <div class="input-group-text input-group-text-checkbox">#}
{#          {{ form.logged_in_only }}#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

  </div>
{% endblock %}
{% block voting_options %}
  <div class="row">
    {% for field in form.visible_fields %}
      {% if "option_" in field.name and "_text" in field.name %}
        <div
            class="col-6 mt-4 {% if "_1_" in field.name or "_2_" in field.name %}visible{% else %}initial-hidden{% endif %}">
          {{ field.errors }}
          <div class="input-group input-group-lg">
            {{ field.label_tag }}
            <input type="text" name="{{ field.name }}" maxlength="50" id="{{ field.id_for_label }}"
                   {% if "_1_" in field.name or "_2_" in field.name %}required{% endif %}>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
